<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	
	
<meta charset="UTF-8">
<title>Formulario Cadastro Administrador</title>
<style>
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main {
	padding: 100px 70px
}

.erro {
	margin-top: 50px;
	background-color: red;
	padding: 10px 5px;
}

.sucesso {

	margin-top: 50px;
	background-color: green;
	padding: 10px 30px;
}
</style>
</head>
<body>


</nav>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">Guia de Filmes</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="sass.html">Home</a></li>
        <li><a href="badges.html">Administrador</a></li>
        <li><a href="collapsible.html">Login</a></li>
      </ul>
    </div>
  </nav>
        
	<div class="main">
		<div class="row">
			<form action="salvarAdmin" class="col s12" method="post">
				<input type="hidden" name="id" th:value="${admins?.id}">
				<div class="row">
					<div class="input-field col s6">
						<input th:value ="${admins?.nome}"   id="first_name" type="text" class="validate" name="nome">
						<label for="first_name">Nome</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input th:value ="${admins?.email}"id="email" type="email" class="validate" name="email">
						<label for="email">Email</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s3">
						<input id="password" type="password" class="validate" name="senha">
						<label for="password">Senha</label>
					</div>
					<br>
					<br>
					<br>
					<br>
					<button class="waves-effect waves-light btn-large" type="submit"
						name="salvar">Salvar</button>
				</div>
				<div th:replace="fragment/mensagem"></div>
			</form>
			
		</div>
	</div>

</body>
</html>